*.vscode/
.idea/
/build/
./.DS_Store

node_modules/
yarn.lock

AGENTS.md
config.toml

*.db

/tools/typescript/
/tools/flatbuffers/
/tools/llvm-project/
/tools/mimalloc/
/tools/jemalloc/
/tools/.build/

/libs/llvm-project/

./cmake-build-debug/
./cmake-build-allocator-jemalloc/*
./cmake-build-allocator-system/

/cmake-build-*/
libs/uni-algo/
/trash/
src/pack/build/
src/pack/CMakeFiles/
./tests/packages/*
./inputs/packages/*
sir.json
/yogi/

