*.vscode/
.idea/
/build/
./.DS_Store

/tools/typescript/
/tools/flatbuffers/
/tools/llvm-project/
/tools/mimalloc/
/tools/jemalloc/
/tools/.build/

/libs/llvm-project/

/cmake-build-debug/
./cmake-build-allocator-jemalloc/*
./cmake-build-allocator-system/

/cmake-build-*/
libs/uni-algo/
/trash/
/tests/packages/*
sir.json
yogi/
