[submodule "src/ts/src/ts"]
	path = src/ts/src/ts
	url = https://github.com/microsoft/TypeScript.git
[submodule "src/compiler/typescript"]
	path = src/compiler/typescript
	url = https://github.com/corefound/typescript.git
